DEBUG=True
SECRET_KEY= defina sua chave secreta
ALLOWED_HOSTS=localhost, 127.0.0.1

DATABASE_URL=postgres://sitedevpro:sitedevpro@localhost:5434/sitedevpro

INTERNAL_IPS=127.0.0.1
SENTRY_DSN=

# Configurações de Email

EMAIL_BACKEND = django.core.mail.backends.console.EmailBackend
EMAIL_PORT=25
EMAIL_HOST=localhost
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
