{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron">
                <h2>
                    Curso de Python com Luciano Ramalho
                </h2>

                <h4 class="mt-4">Matrículas abertas! Custo R$ 1000,00</h4>
                <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
                        data-preference-id="495316018-844921b3-4915-4fd6-a7b3-bd10d9b5c86e"
                        data-source="button"></script>

                <!--                <h4 class="mt-4">Entre na fila de espera</h4>-->
                <!--                <form action="https://outlook.us21.list-manage.com/subscribe/post?u=6baf96efc73db5a86f6e8d428&amp;id=fd9042cf9a&amp;f_id=002a8be1f0"-->
                <!--                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"-->
                <!--                      class="form-row-align-items-center" target="_self">-->
                <!--                    <div id="mc_embed_signup_scroll">-->
                <!--                        <div class="form-row align-items-center">-->
                <!--                            <div class="col-auto">-->
                <!--                                <label class="sr-only" for="inlineFormInput">Email</label>-->
                <!--                                <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"-->
                <!--                                       required placeholder="exemplo@email.com">-->
                <!--                            </div>-->
                <!--                            <div class="col-auto">-->
                <!--                                <label class="sr-only" for="mce-FNAME">Email</label>-->
                <!--                                <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Seu Nome">-->
                <!--                            </div>-->

                <!--                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"-->
                <!--                                                                                                      name="b_6baf96efc73db5a86f6e8d428_fd9042cf9a"-->
                <!--                                                                                                      tabindex="-1"-->
                <!--                                                                                                      value=""></div>-->

                <!--                            <div class="col-auto">-->
                |
                <!--                                <input type="submit" value="Salvar" name="subscribe" id="mc-embedded-subscribe"-->
                <!--                                       class="btn btn-primary">-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                </form>

            </div>
            <div class="card">
                <h5 class="card-header">
                    Mais detalhes sobre o instrutor
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <img src="{% static 'img/luciano-ramalho.png' %}" alt="Foto de Luciano Ramalho"
                             class="img-thumbnail float-left mr-3">
                        Ramalho é sócio e professor na <a href="https://www.python.pro.br">Python Pro</a>
                        e autor do Livro <a
                            href="https://www.amazon.com.br/Python-Fluente-Programa%C3%A7%C3%A3o-Concisa-Eficaz/dp/857522462X"
                            target="_blank">Python Fluente</a>. Foi diretor técnico do Brasil Online, primeiro portal da
                        Abril
                        S/A na Web. Liderou times para os portais IDG Now, BOL, UOL, AOL Brasil e outros,
                        usando Python desde 1998. Como instrutor, atendeu clientes como Citibank, CPqD, Serpro,
                        Presidência da República, Globo.com e Itaú. Palestrante em eventos internacionais como FISL,
                        PyCon US e OSCON. Ajudou a criar a Associação Python Brasil e foi seu presidente.
                        É membro da Python Software Foundation e fundador do Garoa Hacker Clube,
                        o primeiro hackerspace do Brasil.

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}